/***********/
/* Imports */
/***********/
@import 'css/html5doctor-css-reset.css';
@import 'css/variables.css';
@import 'css/utilities.css';


/********/
/* Base */
/********/
* {
  box-sizing: border-box;
}

*:focus {
  outline: 2px dashed currentColor;
}

body {
  background: var(--gray);
  font-family: sans-serif;
}


/**************/
/* Components */
/**************/

/** Containers **/
.container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--spacing--md);
}

/** Cards **/
.card {
  background: var(--white);
  border-radius: var(--border-radius);
  max-width: var(--max-width);
  margin: var(--spacing--sm) 0;
  box-shadow: 0 var(--spacing--sm) 15px -10px rgba(0, 0, 0, 0.25);
}

.card--row {
  display: flex;
  flex-direction: row;
}

.card__1-2 {
  display: inline-block;
  width: 50%;
}

  .card__1-2:last-of-type {
    border-left: 1px solid var(--gray);
  }

.card__blk {
  padding: var(--spacing--lg);
}

/** Info-Row **/
.info-row {
  position: relative; /* allows absolute positioning within */
  padding: var(--spacing--lg) 0;
  border-top: 1px solid var(--dark-gray);
  text-align: center;
  font-size: 55px;
  font-weight: 300;
}

.info-row--results {
  background: var(--blue);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0 var(--spacing--sm) 5px -8px rgba(0, 0, 0, 0.25);
}

.info-row__heading {
  position: absolute;
  top: var(--spacing--sm);
  left: 0;
  font-size: 11px;
  letter-spacing: 0.075em;
  text-align: left;
  font-weight: 700;
  color: var(--dark-gray);
  text-transform: uppercase;
}

.info-row__footnote {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 11px;
  color: var(--red);
}

/** Form-Row **/
.form-ctrl {
  display: flex;
  flex-direction: column;
  padding: var(--spacing--sm) 0;
}

.form-ctrl__label {
  font-size: 14px;
  display: block;
  text-align: left;
  margin-bottom: var(--spacing--sm);
}

.form-ctrl__input {
  width: 100%;
  height: var(--spacing--xl);
  font-size: 16px;
}

/** Die (Dice) **/
.die {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--spacing--md);
  height: var(--spacing--md);
  margin-left: calc( var(--spacing--sm) / 2);
  background: var(--red);
  color: var(--white);
  border-radius: var(--border-radius);
}

/** Btns (Buttons) **/
.btn {
  display: block;
  cursor: pointer;
  font-size: 17px;
  color: var(--white);
  padding: var(--spacing--sm) var(--spacing--md);
  border: 0;
  border-bottom: 5px solid #000;
  border-radius: var(--border-radius);
}

.btn--primary {
  background: var(--red);
  border-color: var(--dark-red);
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.btn-group__btn {
  width: 100%;
  border: 0; /* resets default */
  font-size: 14px;
  cursor: pointer;
  padding: var(--spacing--sm);
  background: var(--white);
  color: var(--blue);
  border-right: 1px solid var(--light-blue);
}

  .btn-group__btn:last-of-type {
    border-right: 0;
  }

  .btn-group__btn.is-active {
    background: var(--blue);
    color: var(--white);
  }
