/***********/
/* Imports */
/***********/
@import 'meyer.css-reset.css';


/*************/
/* Variables */
/*************/
:root {
  /* colors */
  --blue: #29538B;
  --light-blue: #446592;
  --red: #D93332;
  --dark-red: #912221;
  --white: #FFF;
  --off-white: #D7CBC4;
  --gray: #E3E3E3;
  --dark-gray: #CCC;

  /* spacing */
  --base-spacing: 10px;
  --spacing--sm: var(--base-spacing);
  --spacing--md: calc( var(--base-spacing) * 2 );
  --spacing--lg: calc( var(--base-spacing) * 3 );
  --spacing--xl: calc( var(--base-spacing) * 4 );

  /* misc */
  --border-radius: 5px;
  --max-width: 800px;
}


/********/
/* Base */
/********/
* {
  box-sizing: border-box;
}

body {
  background: var(--gray);
  font-family: sans-serif;
}


/**************/
/* Components */
/**************/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--spacing--md);
}

.container__col {
  padding: var(--spacing--sm);
  width: 100%;
}

.card {
  background: var(--white);
  border-radius: var(--border-radius);
  max-width: var(--max-width);
  margin: var(--spacing--sm) 0;
  padding: var(--spacing--lg) 0;
  box-shadow: 0 var(--spacing--sm) 15px -10px rgba(0, 0, 0, 0.25);
}

.card-row {
  display: flex;
  justify-content: space-between;
}

.card--1-2 {
  width: calc( 50% - calc( var(--spacing--md) / 2 ) );
}

.card__blk {
  padding: 0 var(--spacing--md);
}

.info-row {
  position: relative; /* allows absolute positioning within */
  padding: var(--spacing--lg) 0;
  border-top: 1px solid var(--dark-gray);
  text-align: center;
  font-size: 55px;
  font-weight: 300;
}

.info-row--results {
  background: var(--blue);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  transform: scale(1.1);
  box-shadow: 0 var(--spacing--sm) 5px -8px rgba(0, 0, 0, 0.25);
}

.info-row__heading {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 11px;
  letter-spacing: 0.075em;
  text-align: left;
  font-weight: 700;
  color: var(--dark-gray);
  text-transform: uppercase;
}

.info-row__footnote {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 11px;
  color: var(--red);
}

.die {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--spacing--md);
  height: var(--spacing--md);
  margin-left: calc( var(--spacing--sm) / 2);
  background: var(--red);
  color: var(--white);
  border-radius: var(--border-radius);
}

.btn {
  display: block;
  cursor: pointer;
  font-size: 17px;
  color: var(--white);
  padding: var(--spacing--sm) var(--spacing--md);
  border: 0;
  border-bottom: 5px solid #000;
  border-radius: var(--border-radius);
}

.btn--primary {
  background: var(--red);
  border-color: var(--dark-red);
}


/*************/
/* Utilities */
/*************/
.u-mg-x--auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-mg-t--md {
  margin-top: var(--spacing--md) !important;
}
