.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.btn-group__label {
  font-size: 14px;
  letter-spacing: 0.0125em;
  color: var(--blue);
  background: var(--white);
  margin-bottom: var(--spacing--sm);
}

.btn-group__btn {
  width: 100%;
  border: 0; /* resets default */
  font-size: 14px;
  cursor: pointer;
  padding: var(--spacing--sm);
  background: var(--white);
  color: var(--blue);
  border-right: 1px solid var(--light-blue);
  transition: background var(--timing) var(--easing),
              color var(--timing) var(--easing);
}

  .btn-group__btn:last-of-type {
    border-right: 0;
  }

  .btn-group__btn.is-active,
  .btn-group:active {
    background: var(--blue);
    color: var(--white);
  }

  .btn-group__btn:disabled {
    cursor: not-allowed;
    color: var(--dark-gray);
  }

  .btn-group__btn:focus {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    outline: none;
  }
