.btn {
  display: block;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: var(--white);
  padding: var(--spacing--sm) var(--spacing--md);
  border: 0;
  border-bottom: 5px solid #000;
  border-radius: var(--border-radius);
}

.btn--primary {
  background: var(--red);
  border-color: var(--dark-red);
}

  .btn--primary:focus {
    outline: 1px dashed var(--dark-red);
  }
