.card {
  background: var(--white);
  max-width: var(--max-width);
  margin: var(--spacing--sm) 0;
  box-shadow: 0 var(--spacing--sm) 15px -10px rgba(0, 0, 0, 0.25);
}

@media screen and ( min-width: 600px ) {
  .card {
    border-radius: var(--border-radius);
  }
}

.card--row {
  display: flex;
  flex-direction: row;
}

.card__1-2 {
  display: inline-block;
  width: 50%;
}

  .card__1-2:last-of-type {
    border-left: 1px solid var(--gray);
  }

.card__blk {
  padding: var(--spacing--lg) var(--spacing--md);
}

@media screen and ( min-width: 600px ) {
  .card__blk {
    padding: var(--spacing--lg);
  }
}
