.form-grp {
  display: flex;
  flex-direction: column;
  padding: var(--spacing--sm) 0;
  margin-bottom: var(--spacing--sm);
}

.form-grp__label {
  font-size: 14px;
  letter-spacing: 0.0125em;
  color: var(--blue);
  background: var(--white);
  margin-bottom: var(--spacing--sm);
}

.form-grp__input {
  width: 100%;
  padding: var(--spacing--sm);
  height: var(--spacing--xl);
  font-size: 16px;
}
