/*************/
/* Utilities */
/*************/
.u-mg-x--auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-mg-t--sm {
  margin-top: var(--spacing--sm) !important;
}

.u-mg-t--md {
  margin-top: var(--spacing--md) !important;
}

.u-text-align--center {
  text-align: center !important;
}
